@model IEnumerable<Cliente>

@{
    ViewData["Title"] = "Clienti";
}

<h1>Clienti</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Aggiungi Cliente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Nome)</th>
            <th>@Html.DisplayNameFor(model => model.TipoCliente)</th>
            <th>@Html.DisplayNameFor(model => model.CodiceFiscale)</th>
            <th>@Html.DisplayNameFor(model => model.PartitaIVA)</th>
            <th>@Html.DisplayNameFor(model => model.Indirizzo)</th>
            <th>@Html.DisplayNameFor(model => model.Telefono)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                <td>@Html.DisplayFor(modelItem => item.TipoCliente)</td>
                <td>@Html.DisplayFor(modelItem => item.CodiceFiscale)</td>
                <td>@Html.DisplayFor(modelItem => item.PartitaIVA)</td>
                <td>@Html.DisplayFor(modelItem => item.Indirizzo)</td>
                <td>@Html.DisplayFor(modelItem => item.Telefono)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IDCliente" class="btn btn-secondary">Modifica</a> |
                    <a asp-action="Details" asp-route-id="@item.IDCliente" class="btn btn-info">Dettagli</a> |
                    <a asp-action="Delete" asp-route-id="@item.IDCliente" class="btn btn-danger">Elimina</a>
                </td>
            </tr>
        }
    </tbody>
</table>
