@model Hotel.Models.Prenotazione

<div class="modal-header">
    <h5 class="modal-title" id="detailsModalLabel">Dettagli Prenotazione</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <dl class="row">
        <dt class="col-sm-2">Data Prenotazione</dt>
        <dd class="col-sm-10">@Model.DataPrenotazione.ToShortDateString()</dd>

        <dt class="col-sm-2">Numero Progressivo</dt>
        <dd class="col-sm-10">@Model.NumeroProgressivo</dd>

        <dt class="col-sm-2">Anno</dt>
        <dd class="col-sm-10">@Model.Anno</dd>

        <dt class="col-sm-2">Dal</dt>
        <dd class="col-sm-10">@Model.Dal.ToShortDateString()</dd>

        <dt class="col-sm-2">Al</dt>
        <dd class="col-sm-10">@Model.Al.ToShortDateString()</dd>

        <dt class="col-sm-2">Caparra</dt>
        <dd class="col-sm-10">@Model.Caparra.ToString("C")</dd>

        <dt class="col-sm-2">Tariffa</dt>
        <dd class="col-sm-10">@Model.Tariffa.ToString("C")</dd>

        <dt class="col-sm-2">Tipologia Soggiorno</dt>
        <dd class="col-sm-10">@Model.TipologiaSoggiorno</dd>

        <dt class="col-sm-2">Cliente</dt>
        <dd class="col-sm-10">@Model.Cliente.Cognome @Model.Cliente.Nome</dd>

        <dt class="col-sm-2">Camera</dt>
        <dd class="col-sm-10">@Model.Camera.Descrizione</dd>

        <dt class="col-sm-2">Servizi Aggiuntivi</dt>
        <dd class="col-sm-10">
            @if (Model.Servizi != null && Model.Servizi.Count > 0)
            {
                <ul>
                    @foreach (var servizio in Model.Servizi)
                    {
                        <li>@servizio.Descrizione - @servizio.Prezzo.ToString("C")</li>
                    }
                </ul>
            }
            else
            {
                <p>Nessun servizio aggiuntivo selezionato.</p>
            }
        </dd>
    </dl>
</div>
