@model IEnumerable<Hotel.Models.Prenotazione>
@{
    ViewData["Title"] = "Prenotazioni";
}

<h2>Prenotazioni</h2>

<p>
    <a asp-action="Create" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createModal">Crea nuova prenotazione</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cliente.Cognome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Camera.Descrizione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataPrenotazione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Al)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipologiaSoggiorno)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.Cognome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Camera.Descrizione)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataPrenotazione)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Al)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipologiaSoggiorno)
                </td>
                <td>
                    <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#detailsModal" data-id="@item.Id">Dettagli</button> |
                    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editModal" data-id="@item.Id">Modifica</button> |
                    <button type="button" class="btn btn-danger" onclick="confirmDelete(@item.Id)">Elimina</button> |
                    <a asp-action="Checkout" asp-route-id="@item.Id" class="btn btn-success">Check-out</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Create Modal -->
<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="createModalBody">
                <!-- Create form will be loaded here via AJAX -->
            </div>
        </div>
    </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="editModalBody">
                <!-- Edit form will be loaded here via AJAX -->
            </div>
        </div>
    </div>
</div>

<!-- Details Modal -->
<div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="detailsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="detailsModalBody">
            <!-- Details will be loaded here via AJAX -->
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#detailsModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var id = button.data('id');

                $.get('@Url.Action("Details", "Prenotazioni")', { id: id }, function (data) {
                    $('#detailsModalBody').html(data);
                });
            });

            $('#editModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var id = button.data('id');

                $.get('@Url.Action("Edit", "Prenotazioni")', { id: id }, function (data) {
                    $('#editModalBody').html(data);
                });
            });

            $('#createModal').on('show.bs.modal', function (event) {
                $.get('@Url.Action("Create", "Prenotazioni")', function (data) {
                    $('#createModalBody').html(data);
                });
            });
        });

        function confirmDelete(id) {
            if (confirm("Sei sicuro di voler eliminare questa prenotazione?")) {
                $.ajax({
                    url: '@Url.Action("Delete", "Prenotazioni")',
                    type: 'POST',
                    data: { id: id },
                    success: function (result) {
                        if (result.success) {
                            alert("Prenotazione eliminata con successo.");
                            location.reload();
                        } else {
                            alert("Errore durante l'eliminazione della prenotazione: " + result.message);
                        }
                    },
                    error: function (xhr, status, error) {
                        alert("Errore durante l'eliminazione della prenotazione.");
                    }
                });
            }
        }
    </script>
}
