@model IEnumerable<(string Nome, string Cognome, decimal Importo, DateTime DataViolazione, int DecurtamentoPunti)>

<h2>Totale Verbali per Trasgressore</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Importo</th>
            <th>Data Violazione</th>
            <th>Decurtamento Punti</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nome</td>
                <td>@item.Cognome</td>
                <td>@item.Importo</td>
                <td>@item.DataViolazione</td>
                <td>@item.DecurtamentoPunti</td>
            </tr>
        }
    </tbody>
</table>
