@model IEnumerable<AggiornamentoSpedizione>

@{
    ViewData["Title"] = "Aggiornamenti Spedizioni";
}

<h1>Aggiornamenti Spedizioni</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Aggiungi Aggiornamento</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Stato)</th>
            <th>@Html.DisplayNameFor(model => model.Luogo)</th>
            <th>@Html.DisplayNameFor(model => model.Descrizione)</th>
            <th>@Html.DisplayNameFor(model => model.DataOraAggiornamento)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Stato)</td>
                <td>@Html.DisplayFor(modelItem => item.Luogo)</td>
                <td>@Html.DisplayFor(modelItem => item.Descrizione)</td>
                <td>@Html.DisplayFor(modelItem => item.DataOraAggiornamento)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IDAggiornamento" class="btn btn-secondary">Modifica</a> |
                    <a asp-action="Details" asp-route-id="@item.IDAggiornamento" class="btn btn-info">Dettagli</a> |
                    <a asp-action="Delete" asp-route-id="@item.IDAggiornamento" class="btn btn-danger">Elimina</a>
                </td>
            </tr>
        }
    </tbody>
</table>
